#Doguinhos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}
img {
    display: block;
    width: auto;
    height: 250px;
    border-radius: 8px;
}
figure{
    display: block;
    width: auto;
    height: 300px;
    border-radius: 8px; 
    background-color: darkgrey;
}
figcaption{
    display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rainbow {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}
h1 {
    font-family: 'Arial', sans-serif;
    animation: rainbow 6s linear infinite;
}
button{
    font-family: 'Arial', sans-serif;
    animation: rainbow 6s linear infinite;
}
